body{
  margin: 0;
  padding: 20px;
  
}

.container{
  width: 300px;
  margin:0 auto;
  text-align: center;
  
}
h1{
  size: 30px;
  color: red;
  

}

.wow{
  color:black;
}
.damn{
  font-size: 40px;
  
}